body {
    background-image: url(../image/index/Matrix.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

#csgo {
    background-image: url(../image/csgo/cs_bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (min-device-width:650px) and (min-width: 650px) and (max-width: 900px) {
    #pagecontent {
        display: flex;
    }
    
    nav {
        min-width: 200px;
        
        order: 1;
    }
}

@media (max-width:650px) {
	#g-pic {
		height: 100px;
		width: 100px;
	}
	
}

@media (max-width:400px) {
	#g-pic {
		height: 50px;
		width: 50px;
	}
	
}



nav {
    position: relative;
    z-index: 10;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 60px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav li {
    background-color: gray;
    line-height: 60px;
    text-align: center;
    padding: 10px;
    
}

nav > ul > li  {
    padding: 0px 10px;
    overflow: hidden;
    color: gray;
    flex:1 1 auto;
}

nav > ul > li> a {
    display: block;
    height: 60px;
}

nav a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: white;
	
}

.show {
    overflow: visible;
}


.title {
    color: white;
	position: absolute;
}

h2 {
    color: gray;
}

.mainstart {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: gray;
	
}

.yes {
	position:absolute;
	top: 370px;
	left: 30%;
}

.no {
	position:absolute;
	top: 370px;
	left: 65%;
	
}

.csgo {
    
    text-align: center;
	
	
}

.img-g {
	position: absolute;
	top: 300px;
	left: 4%;
	
}

.arrow {
	position: absolute;
	top: 350px;
}

.arrow_l {
	position: absolute;
	left: -15px;
	
		
}

.arrow_r {
	position: absolute;
	left: 340px;
	
}


#ig1 {
	position: absolute;
}

#ig2 {
	position: absolute;
}

#ig3 {
	position: absolute;
}

#g-video {
	position: absolute;
	z-index: 1;
	
}





@media (min-device-width: 650px) and (min-width: 901px) {
    .toppmeny {
        display: flex;
        position: relative;
        z-index: 100;
    }
    
    .menuclosed ul.undermeny {
        display: block;

    }
    
    .toppmeny {
        height: 2em;
    }
    
    .menuclosed {
        overflow: hidden;
    }
}
